h1 {
    text-align: right;
    color : red;
}

h1 +p{
    text-align: right;
    color : red;
	}

section > section > section > p
 {
	    text-align: right;
    color : red;
}
section > section + section > p
 {
text-align : left;
color:black;
}


body {

}

body + h1
{
	font-weight : 13px;
}

h2{
	background-color : silver;
}

h3 {
	font-variant : small-caps;
}

strong {
	color : green;
	text-decoration: underline;
}


